footer {
    color-scheme: dark;
    background-color: #20272b;

    padding: 2rem 1rem;

    margin-top: 6rem;

    text-align: center;

}
footer .firma {
    color: hsl(157, 100%, 68%);
        
    font-size: 1.5rem;

    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

footer .icones-contacte {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .icones-contacte a {
    opacity: 0.7;
    transition: opacity 0.15s, scale 0.15s;
}

footer .icones-contacte a:hover {
    opacity: 1;
    scale: 1.2;
}

footer .icones-contacte a i {
    background-color: hsla(157, 100%, 82%);

    display: block;
    width: 2.5rem;
    height: 2.5rem;
}
footer .icones-contacte a i.jmas {
    mask: url("../assets/footer/jmas.svg") no-repeat center / 100%;
}
footer .icones-contacte a i.github {
    mask: url("../assets/footer/github.svg") no-repeat center / 100%;
}
footer .icones-contacte a i.linkedin {
    mask: url("../assets/footer/linkedin.png") no-repeat center / 100%;
    scale: calc(177/200); /* Quadrat */
}

