.missatge-toast {
    position: fixed;
    bottom: 4rem;

    align-self: center;
    
    font-size: 1.4rem;
    background-color: light-dark(#d4ffccc0, #0d550080);
    color: light-dark(#444, white);
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    
    pointer-events: none;
    
    z-index: 10000;

    opacity: 0;

    transition: opacity 0.3s;
}
.missatge-toast.visible {
    opacity: 1;
}
